node_modules
npm-debug.log*

.git
.gitignore
.prettierignore
.prettierrc
.eslintrc.json
CODEOWNERS
CONTRIBUTING.md
SECURITY.md
CONTEXT*.md

test
docs
converte-para-pdf
backups
pacotes_enviados

*.db
*.db-wal
*.db-shm
*.log
*.mbtree
*.bat
*.txt

nuvem_config.json
