node_modules/
*.log
*.db
*.db-shm
*.db-wal
*.mbtree
backups/
pacotes_enviados/
public/uploads/
.vscode/
.kilo/
configurar_ngrok.bat
CONTEXTO_SERVMIL.md
DEPLOYAR_NO_PC_DO_AMIGO.txt
gerar_enviar_pacote.bat
gerar_enviar_pacote.js
gerar_pacote.bat
iniciar.bat
iniciar_remoto.bat
INSTRUCOES.txt
LINK_REMOTO.txt
NGROK_DOMAIN.txt
nuvem_config.json
parar_remoto.bat
versao.txt
zerar_dados.bat